body {
    font-family: sans-serif;
    transition: background-color 0.5s, color 0.5s;
    background-image: url("https://i.pinimg.com/originals/03/44/7b/03447be73c5b73a3f66b411eaf05ff67.jpg");
    background-size: cover;
    text-align: center;
}

#productSection {
    max-width: 680px;
    margin: 50px auto;
    padding: 0px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    text-align: center;
    line-height: 200%;
    color: azure;

}

#row1Btn, #row2Btn, #row3Btn, #row4Btn, #row5Btn {
    display: none;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.options {
    margin-top: 20px;
}

.dark {
    background-color: #333;
    color: #fff;
    text-align: center; /* 중앙 정렬 추가 */
}

.dark .container {
    background-color: #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: left; /* 좌측 정렬 추가 */
}

.dark .options {
    border-top: 1px solid #555;
}

body {
    font-family: sans-serif;
    font-weight: normal;
}

/* 추가된 부분: 글씨체 설정 */
body[font='serif'] {
    font-family: serif;
}
h1 {
    text-align: center;
    line-height: 150%;
    background-color : rgba(255, 255, 255, 0);
    color: powderblue;
}
button {
    padding: 5px;
    position: absolute;
    left: 600px;
    top: 175px;

}
table {
    width: 700px;
    text-align: center;
    border: 1px solid #fff;
    border-spacing: 1px;
    font-family: Arial, ui-serif;
    margin: initial;
}

caption {
    font-weight: bold;
}

table td {
    padding: 4px;
    background-color: rgba(0,0,0,0);
}
.table th {
    background-color : rgba(0, 0, 0, 0);
    color : rgba(0, 0, 0, 0);
    padding : 4px;
}
img {
    width: 90px;
    height: 90px;
}
label {
    font-size: 20px;
    background-color: #fdd000;
    font-weight: bold;
}
